#wrapper {
	position: absolute;
	height: 713px;
	width: 1110px;
	overflow: hidden;
	/*background: #034C81;*/
    background: linear-gradient(90deg, rgb(121, 227, 223), rgb(4, 122, 132));
    background: -webkit-linear-gradient(90deg, rgb(121, 227, 223), rgb(4, 122, 132));
	/*background-size: 1110px 713px;*/
}

#snow {
    position: absolute;
    z-index: 6;
    top: 450px;
    left: 50%;
    margin-left: -1000px;
    width: 2000px;
    height: 2000px;
    background: #fff;
    border-radius: 2000px;
}

#snow:before {
    z-index: 8;
    content: '';
    position: absolute;
    left: 400px;
    height: 2000px;
    width: 2000px;
    background: #f4f4f4;
    border-radius: 2000px;
}

#snow:after {
    z-index: 4;
    content: '';
    position: absolute;
    right: 400px;
    height: 2000px;
    width: 2000px;
    background: #f8f8f8;
    border-radius: 2000px;
}

/* стили для елки */
.tree, .tree:before, .tree:after, .tree_bot, .tree_bot:before, .tree_bot:after {
     height: 0;
     position: absolute;
     width: 0;

     border-radius: 40px;
     -moz-border-radius: 40px;
     -webkit-border-radius: 40px;
}

.tree {
     border-left: 20px solid transparent;
     border-right: 20px solid transparent;
     border-bottom: 20px solid green;
     left: 535px;
     top: 187px;
}

.tree:before {
     content:'';
     border-left: 40px solid transparent;
     border-right: 40px solid transparent;
     border-bottom: 40px solid green;
     left: -40px;
     top: 15px;
}

.tree:after {
     content:'';
     border-left: 60px solid transparent;
     border-right: 60px solid transparent;
     border-bottom: 60px solid green;
     left: -60px;
     top: 40px;
}

/* елка, нижняя часть */
.tree_bot {
     border-left: 80px solid transparent;
     border-right: 80px solid transparent;
     border-bottom: 80px solid green;
     left: 475px;
     top: 262px;
}

.tree_bot:before {
     content:'';
     border-left: 100px solid transparent;
     border-right: 100px solid transparent;
     border-bottom: 100px solid green;
     left: -100px;
     top: 40px;
}

.tree_bot:after {
     content:'';
     border-left: 120px solid transparent;
     border-right: 120px solid transparent;
     border-bottom: 120px solid green;
     left: -120px;
     top: 80px;
}

/* стили для шариков */
.ball {
 height: 40px;
 left: 535px;
 position: absolute;
 top: 397px;
 width: 40px;

 border-radius: 40px;
 -moz-border-radius: 40px;
 -webkit-border-radius: 40px;

 box-shadow: 0 0 5px #777;
 -moz-box-shadow: 0 0 5px #777;
 -webkit-box-shadow: 0 0 5px #777;
}
.red {
 background-color: #c8171f;
 background-image: -webkit-radial-gradient(50% 50%, circle, #f9d0be, #c8171f 70%);
 background-image: -moz-radial-gradient(50% 50%, circle, #f9d0be, #c8171f 70%);
 background-image: -o-radial-gradient(50% 50%, circle, #f9d0be, #c8171f 70%);
 background-image: radial-gradient(50% 50%, circle, #f9d0be, #c8171f 70%);

 left: 485px;
 top: 377px;
}
.blue {
 background-color: #00a1ee;
 background-image: -webkit-radial-gradient(50% 50%, circle, #cde6f9, #00a1ee 70%);
 background-image: -moz-radial-gradient(50% 50%, circle, #cde6f9, #00a1ee 70%);
 background-image: -o-radial-gradient(50% 50%, circle, #cde6f9, #00a1ee 70%);
 background-image: radial-gradient(50% 50%, circle, #cde6f9, #00a1ee 70%);
}
.green {
 background-color: #4d8d00;
 background-image: -webkit-radial-gradient(50% 50%, circle, #d1e5b2, #4d8d00 70%);
 background-image: -moz-radial-gradient(50% 50%, circle, #d1e5b2, #4d8d00 70%);
 background-image: -o-radial-gradient(50% 50%, circle, #d1e5b2, #4d8d00 70%);
 background-image: radial-gradient(50% 50%, circle, #d1e5b2, #4d8d00 70%);

 left: 585px;
 top: 377px;
}
.rsmall, .gsmall, .bsmall {
 height: 25px;
 width: 25px;
}
.rsmall {
 left: 540px/*585px*/;
 top: 327px;
}
.bsmall {
 left: 585px;
 top: 307px;
}
.gsmall {
 left: 495px;
 top: 307px;
}

.r_very_small, .g_very_small, .b_very_small {
    height: 17px;
    width: 17px;
}

.r_very_small {
    left: 590px;/*545px;*/
    top: 265px;/*280px;*/
}

.g_very_small {
    left: 545px;/*503px;*/
    top: 280px;/*265px;*/
}

.b_very_small {
    left: 503px;
    top: 265px;
}